.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background: url('assets/images/back.png');
  font-family: tahoma;
  color: #989898;
}

#todo-table {
  position: relative;
  width: 95%;
  background: #ffe3b1cc;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 50px;
}

#todo-table form:after {
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type="text"] {
  width: 70%;
  padding: 20px;
  background-color: white;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
  border-top-left-radius: 20px;

}

button {
  padding: 20px;
  width: 30%;
  float: left;
  background: #545454;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-top-right-radius: 20px;
}

ul {
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

li {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  color: #545454;

  &:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

h1 {
  color: #545454
}

li:hover {
  text-decoration: line-through;
  background: rgb(230, 245, 200);

}

form {
  display: flex;
  border-bottom: 1px dotted;

}

.no-items {
  border-bottom: none;

  input {
    border-bottom-left-radius: 20px;
  }

  button {
    border-bottom-right-radius: 20px;

  }
}